@model IEnumerable<NBD4.Models.City>

<partial name="_ViewHeading" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th class="text-center" style="min-width:120px">
                <a asp-action="Create" class="btn btn-sm btn-outline-success"
                   role="button" data-bs-toggle="tooltip" title="Create New @ViewData["ControllerFriendlyName"]">
                    <strong>&#x270D; Create</strong>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province.Name)
            </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary"
                       role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                       Edit
                    </a>
                    @* <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary"
                role="button" data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Details">
                &#x1F50E;
                </a> *@
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-primary"
                       role="button" data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
                        Delete
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
