@model IEnumerable<NBD4.Models.Project>

@{
	ViewData["Title"] = "Index";
}

<h1>Projects</h1>

<form asp-action="Index" method="get">
	<input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
	<input type="hidden" name="sortField" value="@ViewData["sortField"]" />
	<div class="form-horizontal">
		<button class="btn @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
			Filter/Search @ViewData["numberFilters"]
		</button><br />
		<div class="collapse" id="collapseFilter">
			<div class="card card-body bg-light">
				<div class="row">
					<div class="form-group col-md-4">
						<label class="control-label">Select by Client:</label>
						@Html.DropDownList("ClientID", null, "All Clients", htmlAttributes: new { @class = "form-control" })
					</div>
					<div class="form-group col-md-4">
						<label class="control-label">Search Project Site :</label>
						@Html.TextBox("SearchString", null, new { @class = "form-control" })
					</div>
					<div class="form-group col-md-4 align-self-end">
						<input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
						<a asp-action="Index" class="btn btn-outline-dark">Clear</a>
					</div>

				</div>
			</div>
		</div>
	</div>


	<table class="table">
		<thead>
			<tr>
				<th>
					<input type="submit" name="actionButton" value="Start Date" class="btn btn-link" />
				</th>
				<th>
					<input type="submit" name="actionButton" value="End Date" class="btn btn-link" />
				</th>
				<th>
					<input type="submit" value="Site" class="btn btn-toolbar" />
				</th>
				<th>
					<input type="submit" name="actionButton" value="Clients" class="btn btn-link" />
				</th>
				@{
					if (User.IsInRole("Designer") || User.IsInRole("Admin") || User.IsInRole("Sales Associate"))
					{
						<th class="text-center" style="min-width:120px">
							<a asp-action="Create" class="btn btn-sm btn-outline-success"
							   role="button" data-bs-toggle="tooltip" title="Create New @ViewData["ControllerFriendlyName"]">
								<strong>&#x270D; Create</strong>
							</a>
						</th>
					}
				}
				@* <th class="text-center" style="min-width:120px">
					<a asp-action="Create" class="btn btn-sm btn-outline-success"
					   role="button" data-bs-toggle="tooltip" title="Create New @ViewData["ControllerFriendlyName"]">
						<strong>&#x270D; Create</strong>
					</a>
				</th> *@
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.StartDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.EndDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Site)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Client.Name)
					</td>
					@{
						if (User.IsInRole("Designer") || User.IsInRole("Sales Associate"))
						{
							<td class="text-center">
								<a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary"
								   role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
									Edit
								</a>
								<a asp-action="Details" asp-route-id="@item.ID" class="btn  btn-primary"
								   role="button" data-bs-toggle="tooltip" title="Details @ViewData["ControllerFriendlyName"]">
									Details
								</a>
							</td>
						}
						else if (User.IsInRole("Admin"))
						{
							<td class="text-center">
								<a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary"
								   role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
									Edit
								</a>
								<a asp-action="Details" asp-route-id="@item.ID" class="btn  btn-primary"
								   role="button" data-bs-toggle="tooltip" title="Details @ViewData["ControllerFriendlyName"]">
									Details
								</a>
								<a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-primary"
								   role="button" data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
									Delete
								</a>
							</td>
						}
					}
				</tr>
			}
		</tbody>
	</table>
	<partial name="_PagingNavBar" />
</form>


@section Styles {
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
}
@section Scripts {
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript">
		$('#SearchClient').autocomplete({
			minLength: 1,
			source: '@Url.Action("GetClients", "Client")'
		});
	</script>
	<script type="text/javascript">
		var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
		var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
			return new bootstrap.Tooltip(tooltipTriggerEl)
		})
	</script>
}