@model NBD4.Models.Bid

<partial name="_ViewHeading" />

<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="BidDate" class="control-label"></label>
                <input asp-for="BidDate" class="form-control" />
                <span asp-validation-for="BidDate" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ProjectID" class="control-label">Project<span class="mandatory">*</span></label>
                <input type="hidden" id="projectId" name="ProjectID" />
                <input type="text" id="projectSearch" class="form-control" placeholder="Search for a project" />
                <div id="projectDropdown" class="dropdown-menu" aria-labelledby="projectSearch"></div>
                <span asp-validation-for="ProjectID" class="text-danger"></span>
            </div>
            
            <div class="form-group" style="display:none;">
                <label asp-for="BidAmount" class="control-label"></label>
                <input asp-for="BidAmount" class="form-control" value ="0"/>
                <span asp-validation-for="BidAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.BidStaffs)</label>
                <div class="m-2">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<NBD4.ViewModels.CheckOptionVM> checkboxes = ViewBag.StaffOptions;
                                
                                if (checkboxes != null)
                                {
                                     foreach (var checkbox in checkboxes)
                                {
                                    if (cnt++ % 2 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedStaffOptions"
                                               value="@checkbox.ID"
                                               @(Html.Raw(checkbox.Assigned ? "checked=\"checked\"" : "")) />
                                        @checkbox.DisplayText @:&nbsp;&nbsp;
                                    @:</td>
                                }
                                }
                               
                        @:</tr>
                        }
                    </table>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Labour and Hours</label>
                <div class="m-2">
                    <table>
                        <thead>
                            <tr>
                                <th>Labour</th>
                                <th>Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                List<NBD4.ViewModels.CheckOptionVM> checkboxes1 = ViewBag.LabourTypeInfoOptions;
                                foreach (var checkbox in checkboxes1)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox"
                                                   name="selectedLabourOptions"
                                                   value="@checkbox.ID"
                                                   @(Html.Raw(checkbox.Assigned ? "checked=\"checked\"" : "")) />
                                            @checkbox.DisplayText

                                        </td>
                                        <td>
                                            <input type="number"
                                                   name="selectedLabourHours[@checkbox.ID]"
                                                   value="@checkbox.Hours"
                                                   min="0" />
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
           @*  <div class="form-group">
                <label class="control-label">Materials and Quantities</label>
                <div class="m-2">
                    <table>
                        <thead>
                            <tr>
                                <th>Material</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                List<NBD4.ViewModels.SelectListVM> checkBoxes2 = ViewBag.InventoryOptions;
                                foreach (var checkbox in checkBoxes2)
                                {
                                    <tr>
                                        <td>
                                             <input type="checkbox"
                                                   name="selectedOptions"
                                                   value="@checkbox.ID"
                                                   @(Html.Raw(checkbox.Assigned ? "checked=\"checked\"" : "")) />
                                            @checkbox.DisplayText
                                        </td>
                                        <td>
                                            <input type="number"
                                                   name="selectedInventoryQuantities[@checkbox.ID]"
                                                   value="@checkbox.Quantities"
                                                   min="0" />
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div> *@
            <div class="form-group">
                <label class="control-label">Materials and Quantities</label>
                <div class="m-2">
                    <table id="materialsTable">
                        <thead>
                            <tr>
                                <th>Material</th>
                                <th>Quantity</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select id="materialDropdown" class="form-control">
                                        <option value="">Select Material</option>
                                        @foreach (var inventoryOption in ViewBag.InventoryOptions)
                                        {
                                            <option value="@inventoryOption.ID">@inventoryOption.DisplayText</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <input type="number" id="quantityInput" class="form-control" name="selectedInventoryQuantities[@((ViewBag.InventoryOptions.Count > 0 ? ViewBag.InventoryOptions[0].ID : ""))]" min="0" />

                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm removeRowBtn">Remove</button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <button id="addRowBtn" class="btn btn-secondary mt-2">Add Row</button>
                </div>
            </div>


            <div class="form-group form-check" style="display:none;">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BidNBDApproved" /> @Html.DisplayNameFor(model => model.BidNBDApproved)
                </label>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="BidNBDApprovalNotes" class="control-label"></label>
                <input asp-for="BidNBDApprovalNotes" class="form-control" />
                <span asp-validation-for="BidNBDApprovalNotes" class="text-danger"></span>
            </div>
            <div class="form-group form-check" style="display:none;">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BidClientApproved" /> @Html.DisplayNameFor(model => model.BidClientApproved)
                </label>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="BidClientApprovalNotes" class="control-label"></label>
                <input asp-for="BidClientApprovalNotes" class="form-control" />
                <span asp-validation-for="BidClientApprovalNotes" class="text-danger"></span>
            </div>
            <div class="form-group form-check" style="display:none;">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BidMarkForRedesign" /> @Html.DisplayNameFor(model => model.BidMarkForRedesign)
                </label>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="ReviewDate" class="control-label"></label>
                <input asp-for="ReviewDate" class="form-control" />
                <span asp-validation-for="ReviewDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="ReviewedBy" class="control-label"></label>
                <input asp-for="ReviewedBy" class="form-control" />
                <span asp-validation-for="ReviewedBy" class="text-danger"></span>
            </div>
           
        </div>
        @* <div class="col-md-6">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label"> Selected Materials </label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control"/* ,style = "width: 200px;" */  })
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label"> Choose Materials</label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })
                </div>
            </div>
        </div> *@

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/multiselect.js"></script>
    <script>

        $(document).ready(function () {
            $('#projectDropdown').hide();
        });

        $('#projectSearch').click(function () {
            var searchString = $('#projectSearch').val();
            if (searchString === '') {
                $.ajax({
                    url: '/Bid/GetProjects',
                    type: 'GET',
                    data: { searchString: searchString },
                    success: function (data) {
                        var dropdown = $('#projectDropdown');
                        dropdown.empty();
                        $.each(data, function (key, entry) {
                            dropdown.append($('<a class="dropdown-item" href="#">').attr('data-id', entry.id).text(entry.name));
                        });
                        dropdown.show();
                    }
                });
            } else {
                $('#projectDropdown').show(); 
            }
        });

        $(document).click(function (e) {
            if (!$(e.target).closest('#projectSearch').length) {
                $('#projectDropdown').hide(); 
            }
        });

        $('#projectSearch').on('input', function () {
            var searchString = $(this).val();
            $.ajax({
                url: '/Bid/GetProjects',
                type: 'GET',
                data: { searchString: searchString },
                success: function (data) {
                    var dropdown = $('#projectDropdown');
                    dropdown.empty();
                    $.each(data, function (key, entry) {
                        dropdown.append($('<a class="dropdown-item" href="#">').attr('data-id', entry.id).text(entry.name));
                    });
                    dropdown.show();
                }
            });
        });

        $('#projectDropdown').on('click', '.dropdown-item', function () {
            var ProjectId = $(this).data('id');
            var siteName = $(this).text();
            $('#projectSearch').val(siteName);
            $('#projectId').val(ProjectId);
            $('#projectDropdown').hide(); 
        });

    </script>
<script>
//   $(document).ready(function () {
//     $('#addRowBtn').click(function (e) {
//         e.preventDefault(); // Prevent the default form submission behavior

//         var materialId = $('#materialDropdown').val();
//         var materialName = $('#materialDropdown option:selected').text();
//         var quantity = $('#quantityInput').val();

//         if (materialId && quantity) {
//             var rowCount = $('#materialsTable tbody tr').length;
//             var removeBtnHtml = '';
//             if (rowCount > 0) {
//                 removeBtnHtml = '<button class="btn btn-danger btn-sm removeRowBtn">Remove</button>';
//             }

//             $('#materialsTable tbody').append(
//                 '<tr>' +
//                 '<td>' + materialName + '<input type="hidden" name="selectedOptions" value="' + materialId + '"></td>' +
//                 '<td>' + quantity + '<input type="hidden" name="selectedInventoryQuantities[' + materialId + ']" value="' + quantity + '"></td>' +
//                 '<td>' + removeBtnHtml + '</td>' +
//                 '</tr>'
//             );

//             $('#materialDropdown').val('');
//             $('#quantityInput').val('');
//         }
//     });

//     // Remove row when remove button is clicked
//     $('#materialsTable tbody').on('click', '.removeRowBtn', function () {
//         $(this).closest('tr').remove();
//     });

//     // Prevent form submission on Enter key press in quantity input
//     $('#quantityInput').keydown(function (e) {
//         if (e.keyCode == 13) {
//             e.preventDefault();
//             $('#addRowBtn').click(); // Simulate click
//         }
//     });
// });
$(document).ready(function () {
    $('#addRowBtn').click(function (e) {
        e.preventDefault(); // Prevent the default form submission behavior

        var materialId = $('#materialDropdown').val();
        var materialName = $('#materialDropdown option:selected').text();
        var quantity = $('#quantityInput').val();

        if (materialId && quantity) {
            var rowCount = $('#materialsTable tbody tr').length;
            var removeBtnHtml = '';
            if (rowCount > 0) {
                removeBtnHtml = '<button class="btn btn-danger btn-sm removeRowBtn">Remove</button>';
            }

            $('#materialsTable tbody').append(
                '<tr>' +
                '<td>' + materialName + '<input type="hidden" name="selectedOptions" value="' + materialId + '"></td>' +
                '<td><input type="number" class="form-control" name="selectedInventoryQuantities[' + materialId + ']" value="' + quantity + '" min="0"></td>' +
                '<td>' + removeBtnHtml + '</td>' +
                '</tr>'
            );

            $('#materialDropdown').val('');
            $('#quantityInput').val('');
        }
    });

    // Remove row when remove button is clicked
    $('#materialsTable tbody').on('click', '.removeRowBtn', function () {
        $(this).closest('tr').remove();
    });

    // Prevent form submission on Enter key press in quantity input
    $('#quantityInput').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            $('#addRowBtn').click(); // Simulate click
        }
    });

    // Hide Remove button in the first row
    $('#materialsTable tbody tr:first-child .removeRowBtn').hide();
});


</script>

}
