@model NBD4.Models.Bid

<partial name="_ViewHeading" />

<div>
    <h4>Bid</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BidDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BidDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Site)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BidAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BidAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BidStaffs)
        </dt>
        <dd class="col-sm-10">
            @foreach (var c in Model.BidStaffs)
            {
                @c.Staff.FullName <br />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BidLabourTypeInfos)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>Labour Type</th>
                        <th>Hours</th>
                        <th>Unit Price</th>
                        <th>Extended Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model.BidLabourTypeInfos)
                    {
                        <tr>
                            <td>@c.LabourTypeInfo.LabourTypeName</td>
                            <td>@c.Hours</td>
                            <td>@c.LabourTypeInfo.PricePerHour</td>
                            <td>@c.LabourCharge</td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
        @* <dd class="col-sm-10">
            @foreach (var c in Model.BidLabourTypeInfos)
            {
                @c.LabourTypeInfo.LabourTypeName <br />
            }
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BidInventories)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>Material Quantity</th>
                        <th>Material Name</th>    
                        <th>Material Size</th>
                        <th>Material Unit Price</th>
                        <th>Material Extended Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var inventory in Model.BidInventories)
                    {
                        <tr>
                            <td>@inventory.MaterialQuantity</td>
                            <td>@inventory.Inventory.Description</td>
                            <td>@inventory.Inventory.Size</td>
                            <td>@inventory.Inventory.ListCost</td>
                            <td>@inventory.MaterialExtendPrice</td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BidNBDApproved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BidNBDApproved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BidNBDApprovalNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BidNBDApprovalNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BidClientApproved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BidClientApproved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BidClientApprovalNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BidClientApprovalNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BidMarkForRedesign)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BidMarkForRedesign)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewedBy)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to Bid List</a>
</div>
