@model NBD4.Models.Bid

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bid</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
    <div class="row">
         <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BidDate" class="control-label"></label>
                <input asp-for="BidDate" class="form-control" />
                <span asp-validation-for="BidDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BidAmount" class="control-label"></label>
                <input asp-for="BidAmount" class="form-control" />
                <span asp-validation-for="BidAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.BidStaffs)</label>
                <div class="m-2">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<NBD4.ViewModels.CheckOptionVM> checkboxes = ViewBag.StaffOptions;
                                foreach (var checkbox in checkboxes)
                                {
                                    if (cnt++ % 2 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedStaffOptions"
                                               value="@checkbox.ID"
                                               @(Html.Raw(checkbox.Assigned ? "checked=\"checked\"" : "")) />
                                        @checkbox.DisplayText @:&nbsp;&nbsp;
                                    @:</td>
                                }
                        @:</tr>
                        }
                    </table>
                </div>
            </div>
             @* <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.BidLabourTypeInfos)</label>
                <div class="m-2">
                    <table>
                        <tr>
                            @{
                                int cntw = 0;
                                List<NBD4.ViewModels.CheckOptionVM> checkboxes1 = ViewBag.LabourTypeInfoOptions;
                                foreach (var checkbox in checkboxes1)
                                {
                                    if (cntw++ % 2 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedLabourOptions"
                                               value="@checkbox.ID"
                                               @(Html.Raw(checkbox.Assigned ? "checked=\"checked\"" : "")) />
                                        @checkbox.DisplayText @:&nbsp;&nbsp;
                                         <input type="number"
                                               name="selectedLabourHours[@checkbox.ID]"
                                               value="@checkbox.Hours"
                                               min="0" />
                                    @:</td>
                                }
                        @:</tr>
                        }
                    </table>
                </div>
            </div> *@
            <div class="form-group">
                <label class="control-label">Labour and Hours</label>
                <div class="m-2">
                    <table>
                        <thead>
                            <tr>
                                <th>Labour</th>
                                <th>Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                List<NBD4.ViewModels.CheckOptionVM> checkboxes1 = ViewBag.LabourTypeInfoOptions;
                                foreach (var checkbox in checkboxes1)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox"
                                                   name="selectedLabourOptions"
                                                   value="@checkbox.ID"
                                                   @(Html.Raw(checkbox.Assigned ? "checked=\"checked\"" : "")) />
                                            @checkbox.DisplayText
                                        </td>
                                        <td>
                                            <input type="number"
                                                   name="selectedLabourHours[@checkbox.ID]"
                                                   value="@checkbox.Hours"
                                                   min="0" />
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BidNBDApproved" /> @Html.DisplayNameFor(model => model.BidNBDApproved)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BidNBDApprovalNotes" class="control-label"></label>
                <input asp-for="BidNBDApprovalNotes" class="form-control" />
                <span asp-validation-for="BidNBDApprovalNotes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BidClientApproved" /> @Html.DisplayNameFor(model => model.BidClientApproved)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BidClientApprovalNotes" class="control-label"></label>
                <input asp-for="BidClientApprovalNotes" class="form-control" />
                <span asp-validation-for="BidClientApprovalNotes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BidMarkForRedesign" /> @Html.DisplayNameFor(model => model.BidMarkForRedesign)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ReviewDate" class="control-label"></label>
                <input asp-for="ReviewDate" class="form-control" />
                <span asp-validation-for="ReviewDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewedBy" class="control-label"></label>
                <input asp-for="ReviewedBy" class="form-control" />
                <span asp-validation-for="ReviewedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectID" class="control-label"></label>
                <select asp-for="ProjectID" class="form-control" asp-items="ViewBag.ProjectID"></select>
                <span asp-validation-for="ProjectID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label"> Materials Selected</label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label"> Choose Materials</label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })
                </div>
            </div>
        </div>                  
    </div>
    <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/multiselect.js"></script>
}
