@model IEnumerable<NBD4.Models.Bid>

@{
    ViewData["Title"] = "Index";
}

<h1>Bids</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BidDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidNBDApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidClientApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidMarkForRedesign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th class="text-center" style="min-width:120px">
                <a asp-action="Create" class="btn btn-sm btn-outline-success"
                   role="button" data-bs-toggle="tooltip" title="Create New @ViewData["ControllerFriendlyName"]">
                    <strong>&#x270D; Create</strong>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BidDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidNBDApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidClientApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidMarkForRedesign)
            </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Project.Client.Name)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Site)
            </td>
                <td class="text-center">
                   
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary"
                       role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                        Edit
                    </a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary"
                       role="button" data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Details">
                        Details
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-primary"
                       role="button" data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
                        Delete
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
